.superFancyBlockquote {
  color: #999;
  background: #fff;
  font-family: "Hoefler Text", Georgia, serif;
  font-style: italic;
  border-left: 2px solid #999;
  padding-left: 10px;
}

.codeBlock {
  font-family: fira-code, monospace;
  font-size: inherit;
  background: #ffeff0;
  font-style: italic;
  word-wrap: normal;
  word-wrap: break-word;
  box-decoration-break: slice;
  padding: 0.3rem 2rem;
  border-radius: 0.2rem;
}

.leftAlign {
  text-align: left;
}
.rightAlign {
  text-align: right;
}
.centerAlign {
  text-align: center;
}
.justifyAlign {
  text-align: justify;
}

.placeHolder {
    text-align: center;
}

.editor-button, .editor-button:hover {
  background-color: inherit;
  color: inherit;
  filter: brightness(0);
  z-index: 999; /* ensure dropdown is always above textbox */
}

.editor-button-dark, .editor-button-dark:hover {
  background-color: inherit;
  color: inherit;
}

.editor-button-dark img,a {
  background-color: inherit;
  color: inherit;
  filter: brightness(0) invert(1);
}

.editor-button-dark li {
  z-index: 999; /* ensure dropdown is always above textbox */
  position: relative;
  background-color: #121212;
}

.rdw-dropdownoption-highlighted {
  background-color: grey !important;
}