.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.todo-study-logo {
  font-family: Inconsolata, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace !important;
  color: #00BF63;
}

.todo-study-logo-white {
  font-family: Inconsolata, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace !important;
}

.error-page {
  margin: 1.3rem;
  border-radius: 1rem;
  padding: 2.5rem 5rem;
  background-color: rgb(255, 188, 188);
  color: rgb(134, 32, 32);

}

.auth-text {
  font-family: 'Open Sans', sans-serif !important;
}